{% extends "blog/base.html" %}
{% block content %}


        <div class="section-title-area">
                <h2 class="section-title">Contact Us</h2>                                   
        </div><hr>
       
        <div class="address-content">
                <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-map-marker fa-stack-1x"></i>
                </span>
                Institute of Engineering &amp; Science    IPS Academy Knowledge Village,
                <br> &emsp; &emsp;Rajendra Nagar A.B. Road, Indore-452012
        </div>
                        
        <div class="address-contact">
                <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-phone fa-stack-1x"></i>
                </span>

                
                0731-4014601
                
        </div>
                        
        <div class="address-contact">
                <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-envelope-o fa-stack-1x"></i>
                </span>

                <a href="mailto:&#111;ff&#105;&#99;e.&#105;&#101;s&#64;i&#112;&#115;a&#99;&#97;dem&#121;.or&#103;">o&#102;&#102;i&#99;&#101;.i&#101;&#115;&#64;&#105;ps&#97;&#99;&#97;d&#101;&#109;y&#46;org</a>

        </div>
                        
        <div class="address-contact">
                <span class="fa-stack">
                        <i class="fa fa-circle-thin fa-stack-2x"></i>
                        <i class="fa fa-fax fa-stack-1x"></i>
                </span>
                0731-4014602
                                <br><br>
                <p style="text-align: justify"><strong>For Counselling</strong>: -</p>
                <p style="text-align: justify">Contact Person. : - Dr. Sanjay Jain</p>
                <p style="text-align: justify">Phone/Mob. No. : - 0731-4014603,604,07746000161</p>
                <p style="text-align: justify">Prof. Ashwini Joshi</p>
                <p style="text-align: justify">Mob No. : - 09826953449</p>
                <p style="text-align: justify"><strong>Discipline and Anti Ragging Committee</strong>: -</p>
                <p style="text-align: justify">Incharge : - Prof. Rajesh Kumar Kaushal</p>
                <p style="text-align: justify">Phone No. / Mob. No. : - 0731-4014606 / 9977039722</p>
                <p style="text-align: justify">Email Address : - hod.chemical@ipsacademy.org</p>
                <p style="text-align: justify">Convener : - Prof. Rupesh Dubey</p>
                <p style="text-align: justify">Phone No. / Mob. No. : - 0731-4014610 / 9893066884</p>
                <p style="text-align: justify">Email Address : - hod.telecom@ipsacademy.org</p>
                <p style="text-align: justify"><strong>Women's Grievance Cell</strong> : -</p>
                <p style="text-align: justify">Head : - Dr. Namrata Tapaswi</p>
                <p style="text-align: justify">Phone No. : - 0731-4014645</p>
                <p style="text-align: justify">Email Address : - hod.compsc@ipsacademy.org</p>                        <br><br>


        </div>
      





{% endblock content %}