{% extends "blog/base.html" %}
{% block content %}
<h2>Placements</h2>
    <article class="media content-section">
        <div class="media-body">
          
          <h2><a class="article-title" href="#">Company: Infosys</a></h2>
          <div class="article-metadata">
            <h5>Aman Singh</h5>
            <h5>Kamal Raj</h5>
            <h5>Rahul Kumar</h5>
            <h5>Ajay Tomar</h5>
          </div>
        </div>
      </article>
    <article class="media content-section">
        <div class="media-body">
          
          <h2><a class="article-title" href="#">Company: Google</a></h2>
          <div class="article-metadata">
          <h5>Sanskar Choudhary</h5>
        <h5>Raj Jhalaya</h5>
        <h5>Ankur Sable</h5>
          </div>
        </div>
      </article>
    <article class="media content-section">
        <div class="media-body">
          
          <h2><a class="article-title" href="#">Company: HCL</a></h2>
          <div class="article-metadata">
          <h5>Viraj Singh</h5>
        <h5>Ajay Thakur</h5>
          </div>
        </div>
      </article>
          <article class="media content-section">
        <div class="media-body">
          
          <h2><a class="article-title" href="#">Company: Microsoft</a></h2>
          <div class="article-metadata">
          <h5>Rishbha Patil</h5>
        <h5>Heera Thakur</h5>
        <h5>Rahul Tomar</h5>
          
          </div>
        </div>
      </article>
{% endblock content %}